.dashboard-grid {

    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(
                220px,
                1fr
            )
        );

    gap: 20px;

    padding: 20px;
}

.dashboard-card {

    border-radius: 12px;

    transition: 0.3s;
}

.dashboard-card:hover {

    transform:
        translateY(-5px);
}
